<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<!--login-->
	<form action="/reset" method="post">
		<input type="" name="old_password" value="old_password">
		<input type="" name="new_password" value="new_password">
		<input type="" name="password_confirm" value="password_confirm">
		<input type="submit" name="submit">
	</form>

	<!--not login-->
	<form action="/reset" method="post">
		<input type="" name="username" value="username">
		<input type="" name="email" value="email">
		<input type="" name="new_password" value="new_password">
		<input type="" name="password_confirm" value="password_confirm">
		<input type="submit" name="submit">
	</form>
</body>
</html>