<!DOCTYPE html>
    <html lang="en">
    <meta charset="UTF-8">
    <title>My profile</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
    <nav class="navbar navbar-expand-md bg-dark">
        <div class="container">
            <h3 class="text-light">Welcome back, {{username}}</h3>
            <img class="logo" src="/images/Logo2.png" alt="" width="70" height="70">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="drop dropdown-menu bg-dark">
                        <form name="setting" method="all" action="/reset-password">
                            <button class="sidebar btn dropdown-item text-light" name="setting" type="submit">Reset Password</button>
                        </form>
                        <div class="dropdown-divider"></div>
                        <form name="setting" method="all" action="/logout">
                            <button class="sidebar btn dropdown-item text-light" name="setting" type="submit">Sign Out</button>
                        </form>
                        <div class="dropdown-divider"></div>
                        <form name="setting" method="all" action="#">
                            <button class="sidebar btn dropdown-item text-light" name="setting" type="submit">Leaderboard</button>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="bg-danger"><br></div>

    <div class="bg-danger score" id="content">
        <h4 class="text-light" id="score">All-time Score: {{scoreT}}</h4>
    </div>

    <br>

    <div class="container">

        <div class="container row">
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="/images/roulette.png" alt="">
                    <div class="card-body">
                        <p class="card-text">Roulette</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" data-toggle="modal" data-target="#RoulettePopup" class="btn btn-sm btn-outline-secondary">View</button>
                            </div>
                            <small class="text-muted">NEW!</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="/images/card.png" alt="">
                    <div class="card-body">
                        <p class="card-text">Bigger or Smaller</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" data-toggle="modal" data-target="#CardPopup" class="btn btn-sm btn-outline-secondary">View</button>
                            </div>
                            <small class="text-muted">NEW!</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Roulette Modal -->
    <div class="modal fade" id="RoulettePopup" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="container">
                    <img class="card-img-top" src="/images/roulette.png" alt="">
                    <br>
                    <div class="modal-footer">
                        <div class="row vdivide">
                            <div class="col-sm-6 text-center">
                                <p>In this game you can blah blah blah</p>
                            </div>
                            <div class="col-sm-6 text-center">
                                <a href="/game"><button id="enter_game" class="btn btn-danger">Play</button></a>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Cards Modal -->
    <div class="modal fade" id="CardPopup" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="container">
                    <img class="card-img-top" src="/images/card.png" alt="">
                    <br>
                    <div class="modal-footer">
                        <div class="row vdivide">
                            <div class="col-sm-6 text-center">
                                <p>Its a card game</p>
                            </div>
                            <div class="col-sm-6 text-center">
                                <a href="/game1"><button id="enter_game" class="btn btn-danger">Play</button></a>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
<style>
    .navbar-toggler-icon{
        background-image: url('https://mdbootstrap.com/img/svg/hamburger3.svg?color=fff');
    }
    .score{
        border-bottom-right-radius: 8px;
        width: 20%;
        position: relative;
        padding: 5px;
        text-align: center;
    }
    .btn:hover {
        color: #383e48;
        background-color: #dc3545;
    }​
</style>
</html>